<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.ng.printtag">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:label="@string/app_tag_print"
                 android:icon="@mipmap/ic_app_icon"
                 android:roundIcon="@mipmap/ic_app_icon"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme"
                 android:allowBackup="false"
                 tools:replace="android:allowBackup"
                 tools:ignore="GoogleAppIndexingWarning" tools:targetApi="n">


        <activity android:name=".splash.ActivitySplash"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait">

        </activity>

        <activity
                android:name="com.ng.printtag.api.ActivityAppSessionTimeout"
                android:exported="false"
                android:screenOrientation="portrait"/>

        <activity android:name=".printrequest.ActivityNewPrintRequest"
                  android:screenOrientation="portrait">

        </activity>

        <activity
                android:name=".dashboard.ActivityDashboard"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>



        <activity
                android:name=".login.ActivityLogin"
                android:exported="false"
                android:screenOrientation="portrait"/>

    </application>
</manifest>
